In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
con_ligs_odn = sqlite3.connect("../data/ligantes_odn.db")
con_ligs_k777 = sqlite3.connect("../data/ligantes_k777.db")

In [4]:
df_odn = pd.read_sql("select * from novos_ligantes",con_ligs_odn)
df_k777 = pd.read_sql("select * from novos_ligantes",con_ligs_k777)

In [5]:
df_odn

,Smiles,logp,tpsa,molwt,qed,hba,hbd,active_probability,i_tanimoto
0,COc1cc2[nH]c(N(C)C)nc(=NC3C=C4CCC3C4)c2cc1N=C(...,5.28070,94.02,539.262043,0.262463,5,2,0.118493,0.35
1,N#Cc1ccc(C(CN2CCCCCCC2=O)NCC2(NC(=O)c3ccc(Cl)c...,4.84158,108.29,535.248142,0.502449,5,2,0.184731,0.40
2,CSCCC(NC(=O)C1CCCCN1C(=O)COc1c(C2CCCCC2)ccc2cc...,4.96990,95.94,526.250143,0.453882,5,2,0.009038,0.36
3,CCc1cc(-c2ncc(C(=O)Nc3ccc(CC(=O)NC4CCCN(C(C)=O...,4.54992,100.63,528.273656,0.446852,5,2,0.000647,0.37
4,CC(C)=CC(=O)N1CCC(N2CC(CC#N)(n3ccc(-c4cc(C)c5[...,4.24890,109.10,528.332508,0.482673,6,2,0.004814,0.37
...,...,...,...,...,...,...,...,...,...
22501,CCCOc1ccc(C)cc1NC(=O)N1CCN(C(=O)c2c(C)cccc2O)C...,4.96814,99.18,529.257671,0.450416,5,2,0.000335,0.38
22502,CC(=O)c1cccc(NC(=O)NC(CC2CCCCC2)C(=O)N2CCC(=O)...,4.91922,98.82,532.304956,0.471684,4,2,0.003887,0.40
22503,CC(C)Oc1ccc(C(=O)N2CCC(C(=O)Nc3ccc(NC(=O)Cc4cc...,5.28500,87.74,517.237685,0.425390,4,2,0.000996,0.30
22504,CC(C)CC(=O)Nc1ccc2c(c1)C(=O)N(C(C)CO)CC(C)C(CN...,4.57120,99.18,523.304621,0.501669,5,2,0.004950,0.35
22505,CCCC(=O)Nc1ccc(Sc2cc(=O)[nH]c3ccc(C(=O)N4CCN(C...,4.35830,102.58,520.214427,0.482027,5,2,0.000149,0.32

In [6]:
df_k777

,Smiles,logp,tpsa,molwt,qed,hba,hbd,active_probability,i_tanimoto
0,COc1c(CC(=O)NC(Cc2ccc(C(F)(F)F)cc2)C(O)CS(=O)(...,4.23610,92.70,575.120113,0.278952,5,2,0.003091,0.40
1,CCCC1CN(C(=O)c2cccc(S(=O)(=O)N3CCC(C(=O)NCCCc4...,3.70380,98.82,574.238054,0.421642,5,2,0.002801,0.39
2,CN(Cc1cc[n+](C)cc1)c1ccc(C(=O)N2CCCC(CNC(=O)C(...,3.73998,100.55,580.253001,0.395779,5,2,0.002127,0.31
3,CNC(C)C(=O)Nc1ccc(N2CCN(C(=O)C=Cc3ccc(CN(C)C(=...,4.18620,84.99,567.320940,0.339758,5,2,0.001688,0.34
4,CCN(CC)CCCNC(=O)C1(C(F)(F)F)CN(S(=O)(=O)c2ccc3...,3.77180,98.82,584.264411,0.414629,5,2,0.002927,0.32
...,...,...,...,...,...,...,...,...,...
22409,CSCC(C(=O)NC(CSC(F)(F)F)C(=O)C(CC(C)C)N=c1cccc...,3.19780,111.70,576.205182,0.275689,7,2,0.000643,0.29
22410,C#CCNC(=O)C(CCc1ccc(Cl)cc1Cl)NC(=O)C1CCCN(C(=O...,3.72252,96.33,571.211695,0.299510,5,2,0.002503,0.38
22411,CCN(Cc1ccc(CC(=O)NC(=O)C2CSCN2C(=O)C(CO)Cc2ccc...,3.55340,107.02,579.276692,0.421826,6,2,0.002132,0.39
22412,O=C(COc1ccc(C2OC2C(=O)N2CCc3ccccc32)cc1)NCCCNC...,3.79340,100.27,577.121233,0.281884,5,2,0.005359,0.35
22413,CS(=O)(=O)c1ccc(N2C(=O)C(Cc3ccccc3)NC(=O)C2CC(...,3.17090,112.65,575.109326,0.428426,5,2,0.009880,0.46

In [13]:
df_total = pd.concat([df_k777, df_odn])

In [17]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [18]:
df_total.describe()

,logp,tpsa,molwt,qed,hba,hbd,active_probability,i_tanimoto
count,44920.00,44920.00,44920.00,44920.00,44920.00,44920.00,44920.00,44920.00
mean,4.22,99.20,550.84,0.40,5.11,2.00,0.01,0.37
std,0.56,5.32,25.30,0.07,0.43,0.19,0.03,0.04
min,0.76,62.04,494.09,0.07,3.00,1.00,0.00,0.19
25%,3.78,96.67,526.18,0.35,5.00,2.00,0.00,0.34
50%,4.26,98.82,544.21,0.41,5.00,2.00,0.00,0.37
75%,4.67,101.57,575.29,0.46,5.00,2.00,0.01,0.39
max,6.94,136.78,646.09,0.64,10.00,4.00,0.83,0.64