In [1]:
import pandas as pd
import sqlite3
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
con = sqlite3.connect("data/chembl_29.db")

In [3]:
molregno = pd.read_sql_query("select * from molecule_dictionary", con)

In [4]:
molregno = molregno[["molregno", "chembl_id"]]

In [5]:
molregno

         molregno      chembl_id
0               1     CHEMBL6329
1               2     CHEMBL6328
2               3   CHEMBL265667
3               4     CHEMBL6362
4               5   CHEMBL267864
...           ...            ...
2105459   2487510  CHEMBL4651250
2105460   2487511  CHEMBL4651251
2105461   2487512  CHEMBL4651252
2105462   2487513  CHEMBL4651253
2105463   2487514  CHEMBL4651254

[2105464 rows x 2 columns]

In [6]:
cruzain_id = pd.read_csv('data/cruzain_id_chemb.csv')

In [7]:
cruzain_id

    Molecule ChEMBL ID
0         CHEMBL568312
1        CHEMBL3347276
2        CHEMBL3347366
3        CHEMBL3347331
4        CHEMBL3347321
..                 ...
710      CHEMBL4434707
711      CHEMBL3329515
712      CHEMBL4283566
713      CHEMBL4465398
714      CHEMBL4067684

[715 rows x 1 columns]

In [8]:
cruzain_id = cruzain_id["Molecule ChEMBL ID"]
cruzain_id

0       CHEMBL568312
1      CHEMBL3347276
2      CHEMBL3347366
3      CHEMBL3347331
4      CHEMBL3347321
           ...
710    CHEMBL4434707
711    CHEMBL3329515
712    CHEMBL4283566
713    CHEMBL4465398
714    CHEMBL4067684
Name: Molecule ChEMBL ID, Length: 715, dtype: object

In [9]:
molregno_chembl_id = molregno.query("chembl_id in @cruzain_id")

In [10]:
molregno = molregno_chembl_id["molregno"]
molregno

1078          1219
12872        14790
13848        15890
14852        17169
16031        18589
            ...
2053399    2434443
2054431    2435496
2054860    2435956
2057884    2439131
2071764    2453458
Name: molregno, Length: 510, dtype: int64

In [11]:
molregno_chembl_id.head()

       molregno     chembl_id
1078       1219    CHEMBL6966
12872     14790   CHEMBL14498
13848     15890     CHEMBL110
14852     17169     CHEMBL114
16031     18589  CHEMBL274993

In [12]:
chemb_data = pd.read_sql_query("select * from compound_properties", con)

In [13]:
chemb_data.duplicated().unique()

array([False])

In [14]:
chemb_data.head()

,molregno,mw_freebase,alogp,hba,hbd,psa,rtb,ro3_pass,num_ro5_violations,cx_most_apka,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,1,341.75,2.11,5.0,1.0,84.82,3.0,N,0.0,6.48,...,ACID,341.75,3.0,24.0,0.74,341.0567,C17H12ClN3O3,6.0,1.0,0.0
1,2,332.32,1.33,6.0,1.0,108.61,3.0,N,0.0,6.33,...,ACID,332.32,3.0,25.0,0.73,332.0909,C18H12N4O3,7.0,1.0,0.0
2,3,357.80,2.27,5.0,2.0,87.98,3.0,N,0.0,6.33,...,ACID,357.80,3.0,25.0,0.75,357.0880,C18H16ClN3O3,6.0,2.0,0.0
3,4,307.31,1.46,5.0,1.0,84.82,3.0,N,0.0,6.33,...,ACID,307.31,3.0,23.0,0.74,307.0957,C17H13N3O3,6.0,1.0,0.0
4,5,341.75,2.11,5.0,1.0,84.82,3.0,N,0.0,6.33,...,ACID,341.75,3.0,24.0,0.74,341.0567,C17H12ClN3O3,6.0,1.0,0.0

In [15]:
chemb_data = chemb_data.query("molregno in @molregno_chembl_id.molregno")

In [16]:
chemb_data_cruzain_inib = pd.merge(molregno_chembl_id, chemb_data, on='molregno')

In [17]:
pd.set_option('display.max_columns', None)
chemb_data_cruzain_inib

,molregno,chembl_id,mw_freebase,alogp,hba,hbd,psa,rtb,ro3_pass,num_ro5_violations,cx_most_apka,cx_most_bpka,cx_logp,cx_logd,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,1219,CHEMBL6966,454.61,5.09,6.0,0.0,63.95,13.0,N,1.0,NaN,9.68,5.04,2.79,BASE,454.61,2.0,33.0,0.42,454.2832,C27H38N2O4,6.0,0.0,1.0
1,14790,CHEMBL14498,303.84,4.18,3.0,1.0,28.16,5.0,N,0.0,NaN,9.55,3.14,0.81,BASE,303.84,2.0,21.0,0.84,303.1502,C17H22ClN3,3.0,1.0,0.0
2,15890,CHEMBL110,260.25,1.11,5.0,1.0,90.06,5.0,N,0.0,13.68,0.20,1.32,1.32,NEUTRAL,260.25,2.0,19.0,0.64,260.0909,C12H12N4O3,7.0,1.0,0.0
3,17169,CHEMBL114,670.86,3.09,7.0,5.0,166.75,12.0,N,1.0,13.61,8.47,3.16,2.05,NEUTRAL,670.86,3.0,49.0,0.20,670.3843,C38H50N6O5,11.0,6.0,3.0
4,18589,CHEMBL274993,274.36,4.91,1.0,0.0,17.07,2.0,N,0.0,NaN,NaN,5.60,5.60,NEUTRAL,274.36,2.0,21.0,0.71,274.1358,C20H18O,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,2434443,CHEMBL4564015,370.46,4.91,7.0,1.0,80.42,7.0,N,0.0,11.55,4.90,5.04,5.02,NEUTRAL,370.46,3.0,25.0,0.28,370.0558,C17H14N4O2S2,6.0,1.0,0.0
506,2435496,CHEMBL4565068,343.45,5.14,5.0,1.0,37.28,6.0,N,1.0,11.57,4.97,5.24,5.22,NEUTRAL,343.45,3.0,23.0,0.38,343.0613,C17H14FN3S2,3.0,1.0,1.0
507,2435956,CHEMBL4565528,404.36,5.76,5.0,1.0,37.28,6.0,N,1.0,11.57,4.93,5.87,5.85,NEUTRAL,404.36,3.0,23.0,0.32,402.9813,C17H14BrN3S2,3.0,1.0,1.0
508,2439131,CHEMBL4568703,325.46,5.00,5.0,1.0,37.28,6.0,N,1.0,11.60,5.43,5.10,5.04,NEUTRAL,325.46,3.0,22.0,0.39,325.0707,C17H15N3S2,3.0,1.0,1.0
509,2453458,CHEMBL4583027,148.16,1.05,2.0,2.0,41.13,0.0,Y,0.0,13.25,1.79,0.39,0.39,NEUTRAL,148.16,1.0,11.0,0.58,148.0637,C8H8N2O,3.0,2.0,0.0

In [18]:
chemb_data_cruzain_inib.keys()

Index(['molregno', 'chembl_id', 'mw_freebase', 'alogp', 'hba', 'hbd', 'psa',
       'rtb', 'ro3_pass', 'num_ro5_violations', 'cx_most_apka', 'cx_most_bpka',
       'cx_logp', 'cx_logd', 'molecular_species', 'full_mwt', 'aromatic_rings',
       'heavy_atoms', 'qed_weighted', 'mw_monoisotopic', 'full_molformula',
       'hba_lipinski', 'hbd_lipinski', 'num_lipinski_ro5_violations'],
      dtype='object')

In [19]:
chemb_data_cruzain_inib.num_lipinski_ro5_violations.unique()

array([ 1.,  0.,  3.,  2., nan])

In [20]:
chemb_data_cruzain_inib.num_ro5_violations.unique()

array([ 1.,  0.,  2., nan])

In [21]:
chemb_data_cruzain_inib[chemb_data_cruzain_inib.num_lipinski_ro5_violations == chemb_data_cruzain_inib.num_ro5_violations]

,molregno,chembl_id,mw_freebase,alogp,hba,hbd,psa,rtb,ro3_pass,num_ro5_violations,cx_most_apka,cx_most_bpka,cx_logp,cx_logd,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,1219,CHEMBL6966,454.61,5.09,6.0,0.0,63.95,13.0,N,1.0,NaN,9.68,5.04,2.79,BASE,454.61,2.0,33.0,0.42,454.2832,C27H38N2O4,6.0,0.0,1.0
1,14790,CHEMBL14498,303.84,4.18,3.0,1.0,28.16,5.0,N,0.0,NaN,9.55,3.14,0.81,BASE,303.84,2.0,21.0,0.84,303.1502,C17H22ClN3,3.0,1.0,0.0
2,15890,CHEMBL110,260.25,1.11,5.0,1.0,90.06,5.0,N,0.0,13.68,0.20,1.32,1.32,NEUTRAL,260.25,2.0,19.0,0.64,260.0909,C12H12N4O3,7.0,1.0,0.0
4,18589,CHEMBL274993,274.36,4.91,1.0,0.0,17.07,2.0,N,0.0,NaN,NaN,5.60,5.60,NEUTRAL,274.36,2.0,21.0,0.71,274.1358,C20H18O,1.0,0.0,0.0
5,27688,CHEMBL282672,162.15,1.04,4.0,2.0,66.24,0.0,N,0.0,11.21,NaN,1.88,1.88,NEUTRAL,162.15,2.0,12.0,0.61,162.0429,C8H6N2O2,4.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,2434443,CHEMBL4564015,370.46,4.91,7.0,1.0,80.42,7.0,N,0.0,11.55,4.90,5.04,5.02,NEUTRAL,370.46,3.0,25.0,0.28,370.0558,C17H14N4O2S2,6.0,1.0,0.0
506,2435496,CHEMBL4565068,343.45,5.14,5.0,1.0,37.28,6.0,N,1.0,11.57,4.97,5.24,5.22,NEUTRAL,343.45,3.0,23.0,0.38,343.0613,C17H14FN3S2,3.0,1.0,1.0
507,2435956,CHEMBL4565528,404.36,5.76,5.0,1.0,37.28,6.0,N,1.0,11.57,4.93,5.87,5.85,NEUTRAL,404.36,3.0,23.0,0.32,402.9813,C17H14BrN3S2,3.0,1.0,1.0
508,2439131,CHEMBL4568703,325.46,5.00,5.0,1.0,37.28,6.0,N,1.0,11.60,5.43,5.10,5.04,NEUTRAL,325.46,3.0,22.0,0.39,325.0707,C17H15N3S2,3.0,1.0,1.0
509,2453458,CHEMBL4583027,148.16,1.05,2.0,2.0,41.13,0.0,Y,0.0,13.25,1.79,0.39,0.39,NEUTRAL,148.16,1.0,11.0,0.58,148.0637,C8H8N2O,3.0,2.0,0.0

In [22]:
chemb_data_cruzain_inib.query("chembl_id == 'CHEMBL391827'")

,molregno,chembl_id,mw_freebase,alogp,hba,hbd,psa,rtb,ro3_pass,num_ro5_violations,cx_most_apka,cx_most_bpka,cx_logp,cx_logd,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
28,405060,CHEMBL391827,302.31,1.91,5.0,0.0,87.11,3.0,N,0.0,NaN,NaN,1.7,1.7,NEUTRAL,302.31,3.0,21.0,0.69,302.0361,C14H10N2O4S,6.0,0.0,0.0

In [23]:
chemb_data_cruzain_inib.to_csv("teste.csv")